.job_column {
  border-radius: 10px;
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 600px;
  overflow-y: auto;

  &.Offer {
    box-shadow: 0 0 7px var(--offer-color);
    background-color: #b0db9c11;
  }

  &.Applied {
    box-shadow: 0 0 7px var(--applied-color);
    background-color: #89a8b211;
  }

  &.Interview {
    box-shadow: 0 0 7px var(--interview-color);
    background-color: #f0a04b11;
  }

  &.Rejected {
    box-shadow: 0 0 7px var(--rejected-color);
    background-color: #da6c6c11;
  }
}

.title {
  text-align: center;

  &.Offer {
    color: var(--offer-color);
    border-bottom: 3px solid var(--offer-color);
  }

  &.Applied {
    color: var(--applied-color);
    border-bottom: 3px solid var(--applied-color);
  }

  &.Interview {
    color: var(--interview-color);
    border-bottom: 3px solid var(--interview-color);
  }

  &.Rejected {
    color: var(--rejected-color);
    border-bottom: 3px solid var(--rejected-color);
  }
}
