.job_column {
  border-radius: 10px;
  padding: 10px 20px 20px 20px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  height: 580px;
  overflow-y: auto;
  transition: box-shadow 0.2s ease;

  &.Offer {
    border: 3px solid var(--offer-color);
  }

  &.Applied {
    border: 3px solid var(--applied-color);
  }

  &.Interview {
    border: 3px solid var(--interview-color);
  }

  &.Rejected {
    border: 3px solid var(--rejected-color);
  }
}

.drag_over {
  &.Offer {
    box-shadow: 0 0 10px var(--offer-color);
  }

  &.Applied {
    box-shadow: 0 0 10px var(--applied-color);
  }

  &.Interview {
    box-shadow: 0 0 10px var(--interview-color);
  }

  &.Rejected {
    box-shadow: 0 0 10px var(--rejected-color);
  }
}

.title {
  text-align: center;

  &.Offer {
    color: var(--offer-color);
    border-bottom: 3px solid var(--offer-color);
  }

  &.Applied {
    color: var(--applied-color);
    border-bottom: 3px solid var(--applied-color);
  }

  &.Interview {
    color: var(--interview-color);
    border-bottom: 3px solid var(--interview-color);
  }

  &.Rejected {
    color: var(--rejected-color);
    border-bottom: 3px solid var(--rejected-color);
  }
}
