.job_card {
  border-radius: 5px;
  color: var(--text-color-a);
  padding: 10px;
  display: flex;
  flex-direction: column;
  -webkit-user-select: none;
  user-select: none;
  cursor: grab;
  background-color: #fff;
  animation: show 0.4s ease both;
  z-index: 10;

  &:active {
    cursor: grabbing;
  }
}

.Offer {
  box-shadow: 0 0 5px var(--offer-color);
}
.Applied {
  box-shadow: 0 0 5px var(--applied-color);
}
.Interview {
  box-shadow: 0 0 5px var(--interview-color);
}
.Rejected {
  box-shadow: 0 0 5px var(--rejected-color);
}

.dragged {
  outline-offset: -2px;
  &.Offer {
    outline: 2px solid var(--offer-color);
  }
  &.Applied {
    outline: 2px solid var(--applied-color);
  }
  &.Interview {
    outline: 2px solid var(--interview-color);
  }
  &.Rejected {
    outline: 2px solid var(--rejected-color);
  }
}

.header {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-bottom: 10px;
}

.actions {
  display: flex;
  justify-content: end;
  align-items: center;
  gap: 5px;
  margin-top: 10px;
}

.info {
  display: flex;
  align-items: center;
  gap: 5px;
  margin-top: 5px;

  & span {
    display: flex;
    place-items: center;
  }
}

.description {
  margin-top: 5px;
}

@keyframes show {
  from {
    scale: 0;
  }

  to {
    scale: 1;
  }
}
