.header {
  margin: 0 auto;
  max-width: 500px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.hero {
  display: flex;
  justify-content: space-between;
}

.filter {
  display: flex;
  gap: 10px;
  align-items: center;
}

.filter_options {
  display: flex;
  align-items: center;
  gap: 10px;
}

.search {
  border-radius: 10px;
  border: 2px solid #89a8b2;
  padding: 4px 8px;
  display: flex;
  align-items: start;
  gap: 10px;
  flex: 1;
  color: #89a8b2;

  & label {
    display: flex;
    place-items: center;
  }
}

.filter_wrapper {
  border-radius: 10px;
  border: 2px solid #89a8b2;
  padding: 4px 8px;
  position: relative;

  &:has(input[type='number']) {
    cursor: text;
    width: 110px;
  }

  &:has(select),
  & select {
    cursor: pointer;
  }
}
