.link {
  padding: 3px 10px;
  border-radius: 10px;
  color: #fff;
  text-decoration: none;
  width: fit-content;
  display: flex;
  align-items: center;
  gap: 5px;
  position: relative;
  overflow: hidden;

  &::before {
    content: '';
    position: absolute;
    width: 200%;
    height: 30%;
    bottom: -60px;
    left: -30px;
    background-color: #fff;
    transform: rotate(35deg);
    user-select: none;
    pointer-events: none;
    transition: transform 0.3s ease;
  }

  span {
    display: flex;
    place-items: center;
  }

  &:hover {
    text-decoration: underline;

    &::before {
      transform: translateY(-110px) rotate(25deg);
    }
  }
}

.Applied {
  background-color: #89a8b2;
}

.Interview {
  background-color: #f0a04b;
}

.Rejected {
  background-color: #da6c6c;
}

.Offer {
  background-color: #b0db9c;
}
